/* ! Palette de couleur à respecter : https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
/* 
 * rouge : #d90429
 * imperial red : #EF233C
 * alice blue : #EDF2F4
 * light gray : #8D99AE
 * space cadet : #2B2D42
 
*/

/* ! @IMPORT  POLICES */
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap");
/* ! fin police */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2d42;
  color: #ef233c;
  font-family: 'Otomanopee One', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/* ! Header */

header {
  padding: 7px;
  background-color: #edf2f4;
}
.navbar {
  background-color: #edf2f4;
}

h1,
h2 {
  color: #d90429;
  font-size: 1.5rem;
  margin-top: 7px;
}

.doc {
  margin-top: 10px;
}

/* ? Permet de changerla couleur du lien avec la classe "active" */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #d90429;
}

header .material-icons {
  color: #d90429;
  float: right;
  margin: 0.7rem;
}

/* * Hover */

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ef233c;
}

h1:hover {
  color: #ef233c;
  /* zoom: 1.1;*/
}

header .material-icons:hover {
  font-size: 1.4rem;
}
/* ! Fin Header */

/* ! Main */
main {
  background-color: #8d99ae;
  color: #2b2d42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.content {
  width: 80%;
}

.btn {
  height: 65px;
  width: 140px;
  margin-top: 7px;
}
main ul li {
  list-style: none;
  margin-bottom: 25px;
}

main ul li a {
  color: #2B2D42;
}

/* * Images articles */
article .images {
  margin: 10px;
}
article p {
  margin: 10px;
  padding: 10px;
}

article {
  width: 80%;
}

article h3 {
  color: #d90429;
  margin: 40px;
}

article video {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.source {
  font-style: none;
  color: #2b2d42;
}


main ul li a:hover {
  color: #d90429;
}

/* ! Fin Main */
/* ! Footer */

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* ? me permet d'aligner l'icone avec le texte qui le suit */
.copyright {
  vertical-align: bottom;
  font-style: none;
}
/* ! Fin Footer */
/* ! MEDIA QUERIES */
/* ? ajuster h1 header pour les plus petits écrans */
@media (max-width: 414px) {
  h1,
  h2,
  h3 {
    font-size: 1rem;
  }

  article .images {
    width: 80%;
  }

  article a {
    font-size: 0.9rem;
  }
}
